<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.capstone">
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>
    <uses-feature
        android:required="true"
        android:glEsVersion="0x00020000"/>
    <permission
        android:name="kr.co.ilg.permission.MAPS_RECEIVE"
        android:label="signiture"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".GlobalApplication"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPDPoKy_UbzVcIcrEtVKAtNaafvx42Nio"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

<!--       <activity android:name="kr.co.ilg.activity.findwork.MainActivity" android:label="일자리 찾기">-->
           <activity android:name="kr.co.ilg.activity.login.SplashActivity" android:theme="@style/SplashTheme" android:label="인력거_구직자">
<!--        <activity android:name="kr.co.ilg.activity.login.SignupEmailActivity" android:label="회원가입">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao6aa177e3434fa7493fc20db8757d054b" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.capstone.MainActivity" android:label="로그인" android:launchMode="singleTop"/>
        <activity android:name="kr.co.ilg.activity.findwork.MainActivity" android:label="일자리 찾기" android:launchMode="singleTop"/>
        <activity android:name="kr.co.ilg.activity.findwork.FieldInfoActivity" android:label="현장 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.OfficeInfoActivity" android:label="인력사무소 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.WorkInfoActivity" android:label="일자리 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.WorkMapActivity" android:label="일자리 지도"/>
        <activity android:name="kr.co.ilg.activity.findwork.MyFieldActivity" android:label="나의 현장" android:launchMode="singleTop"/>
        <activity android:name="kr.co.ilg.activity.login.SignupEmailActivity" android:label="이메일 인증"/>
        <activity android:name="kr.co.ilg.activity.login.SignupPasswordActivity" android:label="비밀번호 설정"/>
        <activity android:name="kr.co.ilg.activity.login.SignupUserInfoActivity" android:label="개인 정보 입력"/>
        <activity android:name="kr.co.ilg.activity.mypage.CertificateConfirmActivity" android:label="건설업 기초안전보건교육 이수증 인증"/>
        <activity android:name="kr.co.ilg.activity.mypage.LocalSelectActivity" android:label="희망 근무 지역 선택"/>
        <activity android:name="kr.co.ilg.activity.mypage.LocalSelectList" tools:ignore="Instantiatable" />
        <activity android:name="kr.co.ilg.activity.mypage.JobSelectActivity" android:label="희망 직종 선택"/>
        <activity android:name="kr.co.ilg.activity.mypage.CareerActivity" android:label="경력 등록"/>
        <activity android:name="kr.co.ilg.activity.mypage.AccountAddActivity" android:label="계좌 등록"/>
        <activity android:name="kr.co.ilg.activity.mypage.MypageMainActivity" android:label="내 정보" android:launchMode="singleTop"/>
        <activity android:name="kr.co.ilg.activity.mypage.MyInfomanageActivity" android:label="내 정보"/>
        <activity android:name="kr.co.ilg.activity.mypage.AccountManageActivity" android:label="계좌 관리"/>
        <activity android:name="kr.co.ilg.activity.mypage.ReviewManageActivity" android:label="후기 관리"/>
        <activity android:name="kr.co.ilg.activity.mypage.OptionActivity" android:label="설정"/>
        <activity android:name="kr.co.ilg.activity.mypage.NoticeActivity" android:label="공지사항"/>
        <activity android:name="kr.co.ilg.activity.mypage.NoticeInfoActivity" android:label="공지사항"/>
        <activity android:name="kr.co.ilg.activity.mypage.ilgIntrodutionActivity" android:label="인력거 안내"/>
        <activity android:name="kr.co.ilg.activity.mypage.ServiceInfoActivity" android:label="이용약관"/>
        <activity android:name="kr.co.ilg.activity.mypage.PasswordChangeActivity" android:label="비밀번호 변경"/>
        <activity android:name="kr.co.ilg.activity.mypage.MemberRemoveActivity" android:label="회원탈퇴"/>
        <activity android:name="kr.co.ilg.activity.login.FindPasswordInfoActivity" android:label="비밀번호 찾기"/>
        <activity android:name="kr.co.ilg.activity.login.FindPasswordShowActivity" android:label="비밀번호 확인"/>
        <activity android:name="kr.co.ilg.activity.findwork.UserReviewWriteActivity" android:label=""/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.capstone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <service android:name="com.example.capstone.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.example.capstone.MyFirebaseInstanceservice">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.example.capstone.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

    </application>
</manifest>